
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{
	background-color: #007BB8;
	background-image: url("/img/bck.png");
}
.nav-header{
	background-color: #CFB53B !important;
}
.panel panel-default{
	border: solid 5px #367588 !important;
}
.navbar-header{
	background-color: #2F4F4F;
	display:block;
	position:relative;
	width:100%;
}